<div style="width:100%;">
	<div style="width: 25%; float:left; height:200px; background-color:#00C9FF; display: inline-block">
	<h1>Differentiation Intelligent Tutoring Systems</h1>
	</div>
	<div style="width: 75%; float:right; height:200px; background-colour:blue; display: inline-block">
		
		<h1>{{ student.student_firstname }}</h1>
		

		<button onclick="location.href='http://www.google.com'">Progress Report</button>
		<button onclick="location.href='http://www.google.com'">Logout</button>
	</div>
</div>

<div style="width:100%;">
	<div style = "float: left; width:25%; height: 200px; background-color:red; display: inline-block">Left Stuff</div>
	<div style = "float: left; width:50%; height: 300px; background-color:green; display: inline-block">Middle Stuff</div>
	<div style = "float: right; width:25%; height: 400px; background-color: yellow; display: inline-block">Right Stuff</div>
	<br style="clear;left;"/>
</div>	

