<!-- Latest compiled and minified CSS --> 
<link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- Latest compiled JavaScript --> 
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

<link rel="stylesheet" type="text/css" href="custom.css"> 
<body>



<h1>Change Password</h1>



<div class = "retrieve">
<!--<form method="POST" class = "post-form">{% csrf_token %}-->

{% if error %}
	<p style="color: red;">Please submit valid value.</p>
{% endif %}



<form action ="/retrieve/" method = "get">
    First Name
   
	<input type ="text" name="firstname">
	<br></br>
	Last Name

<!--	<action ="/retrieve/" method = "get">-->
	<input type ="text" name="lastname">
	<br></br>
	User Name
<!--	<action ="/retrieve/" method = "get">-->
	<input type ="text" name="username">
	<br></br>
	
	<label for ="password">Please Key In Your New Password</label>
	<input type ="password" name="new_password" id="password">
	<br></br>
	<label for ="password">Confirm New Password</label>
	<p>Enter the same password as above, for verification
	<input type ="password" name="confirm_password" id="password"></p>

	<br></br>
	<input class = "button" type="submit" value="Reset Password">
	


<!--<button type="submit class= "save btn btn-default" href = "login.html">Register</button>-->
<button  class="button" type="button" onclick = "window.location.href='http://127.0.0.1:8000'">Back</button>

</form>
</div>
</body>  

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}custom.css" /> 